//Write your scss here and then compile it to "style.css"...

body{
    margin: 0;
}

#button{
    width: 50px;
    margin-top: 10px;
    border: solid 2px darkgray;
}

input{
    border: solid 2px darkblue;
    margin-top: 5px;
}